ALI_BABA_PASSWORD=change-me
ALI_BABA_SECRET_KEY=change-me-with-a-long-random-value
ALI_BABA_PUBLIC_URL=https://alibaba.urgup.keenetic.link
ALI_BABA_PORT=51847
ALI_BABA_REQUIRE_SECURE_PASSWORD=1
ALI_BABA_SESSION_COOKIE_SECURE=1
ALI_BABA_LOGIN_FAILED_RATE_LIMIT=8
ALI_BABA_LOGIN_FAILED_RATE_WINDOW=900
ALI_BABA_PUBLIC_MESSAGE_RATE_LIMIT=5
ALI_BABA_PUBLIC_MESSAGE_RATE_WINDOW=600
ALI_BABA_MAX_IMAGE_PIXELS=25000000
GUNICORN_WORKERS=2
