ALI_BABA_PASSWORD=change-me
ALI_BABA_SECRET_KEY=change-me-with-a-long-random-value
ALI_BABA_PUBLIC_URL=https://alibaba.urgup.keenetic.link
ALI_BABA_PORT=51847
ALI_BABA_REQUIRE_SECURE_PASSWORD=1
GUNICORN_WORKERS=2
